body{
    padding: 0;
    margin: 0;
    background-image: url(bg.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.con1{
width: 100%;
height: 3cm;
display: flex;
align-items: center;
justify-content: center;
background-color: #000000a2;
backdrop-filter: blur(3px);
box-shadow: 0px 5px 20px rgba(11, 240, 252, 0.993);

}
.imgcon1{
    height:2.5cm ; 
    width:10%;  
}
.con2{

    width: 32%;
    height: 13cm;
    background-color: #000000a2;
    margin-left: 4cm;
    margin-top: 2cm;
    border-radius: 8px;
  
    box-shadow: 0px 5px 20px rgba(11, 240, 252, 0.993);


}

.password{
    backdrop-filter: blur(0.00001px);
   background-color: #75757529;
    height: 1cm;
    width: 55%;
  
    border: none;
    border-bottom: 3px solid #57e7cf;
    margin-left: 2.8cm;
   
    border-radius: 2px;
    box-shadow: 0px 5px 20px rgba(7, 7, 7, 0.952);
    color: rgb(255, 255, 255);
}
.button{
padding : 13px 50px;
margin-left: 4.2cm;
margin-top: 0.7cm;
border-radius: 4px;
background:linear-gradient(120deg,#57e7cf90, rgba(11, 240, 252));
background-color: line;
border: 0px;
cursor: pointer;
font-family: 'Arsenal', sans-serif;
font-size: 25px;

}
.button:hover{
    background:linear-gradient(-120deg,#57e7cf7b ,rgba(11, 240, 252));

}

.title{

    display: inline-block;
    margin-top: 1cm;
    margin-left: 1.6cm;
    font-family: 'Crimson Text', serif;
    font-size: 26px;
    font-weight: bolder;
    line-height: 40px;
    text-transform: uppercase;
border-bottom: 4px  solid #dcdde1;
    color: aqua;
}
.btn{
    text-decoration: none;
}

